<!DOCTYPE html>	
<html lang="pt-br">
	<head>
		<title>Blog JeJe</title>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-compatible" content="ie=edge">
	</head>
	<body>

		{{>_navbar}}
		<div class="container mt-4">
			{{#if error}}
				<div class="alert alert-danger">{{error}}</div>
			{{else}}
			{{/if}}
			{{>_msg}}
			{{{body}}}
		</div>


	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="/js/bootstrap.js"></script>
	<script>
			// $(".alert").delay(4000).slideUp(200, function() {
		 	//    	$(this).alert('close');
			// });
			$(function () {
			    TriggerAlertClose();
			});

			function TriggerAlertClose() {
			    window.setTimeout(function () {
			        $(".alert").fadeTo(1000, 0).slideUp(1000, function () {
			            $(this).remove();
			        });
			    }, 5000);
			}
	</script>

</html>